/* src/components/Footer.css */
.footer-grid-container {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social-links-footer {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.social-links-footer a {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.social-links-footer a:hover {
  color: var(--primary-color);
}

.virtual-keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  font-family: var(--font-primary);
  opacity: 0.3;
  text-align: center;
}

.system-stats {
  font-family: var(--font-primary);
  color: var(--secondary-color);
  text-align: right;
  opacity: 0.8;
}