:root {
  --primary-color: #00f7ff;
  --secondary-color: #fdd835;
  --background-color: #0a0a14;
  --text-color: #c1d1e8;
  --glow-light: rgba(0, 247, 255, 0.4);
  --font-primary: 'Orbitron', sans-serif;
  --font-secondary: 'Exo-2', sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Changed from height to min-height */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-secondary);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.highlight-text {
  color: var(--primary-color);
  font-weight: 500;
}